.DS_Store
.eslintcache
*.log
**/node_modules
coverage
packages/**/build
packages/**/main
packages/**/module
packages/**/dist
packages/**/cjs
packages/**/esm
wallets/**/build
wallets/**/main
wallets/**/module
wallets/**/dist
wallets/**/cjs
wallets/**/esm
packages/example/pages/tmp.tsx
packages/example/utils/tmp.ts
.idea
/.yarnrc
/.npmrc
/.parcel-cache
packages/my-example
wallets/social-login
.yarn
